<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Fruitables - Vegetable </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link th:href="@{../ClientStyle/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
  <link th:href="@{../ClientStyle/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">


  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{../ClientStyle/css/bootstrap.min.css}" rel="stylesheet">

  <!--    &lt;!&ndash; Template Stylesheet &ndash;&gt;-->
  <link th:href="@{../ClientStyle/css/style.css }" rel="stylesheet">
</head>

<body>

<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-success d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Truong dai hoc cong nghiep ha noi</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">manh2003@gmail.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">Zalo</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">Facebook</small>/</a>
                <a href="#" class="text-white"><small class="text-white ms-2">Intargram</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a th:href="@{/user/home}" class="navbar-brand"><h2 class="text-secondary ">LaptopShop</h2></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a th:href="@{/user/home}" class="nav-item nav-link active fw-bold">Home</a>
                    <a th:href="@{/user/shop}" class="nav-item nav-link fw-bold">Product</a>
                    <!--                    <a th:href="@{/user/shopDetail}" class="nav-item nav-link">Shop Detail</a>-->
                    <div class="nav-item dropdown">
                        <a  th:href="@{/user/home}" class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0 rounded-0">
                            <a th:href="@{/user/cart}" class="dropdown-item fw-bold">Cart</a>
                            <!--                            <a th:href="@{/user/checkout}" class="dropdown-item">Checkout</a>-->

                        </div>
                    </div>

                </div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                    <a th:href="@{/user/cart}" class="position-relative me-4 my-auto">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                    </a>
                    <a href="#" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
          <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Search End -->


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Shop</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Product</li>
  </ol>
</div>
<!-- Single Page Header End -->


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <h3 class="mb-4">Laptop shop</h3>
    <div class="row g-4">
      <div class="col-lg-12">
        <div class="row g-4">
          <div class="col-xl-3">
            <div class="input-group w-100 mx-auto d-flex">
              <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
              <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <div class="col-6"></div>
          <div class="col-xl-3">
            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
              <label for="fruits">Sap xep theo gia:</label>
              <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                <option value="volvo">Tang dan</option>
                <option value="saab">Giam dan</option>

              </select>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-3">
            <div class="row g-4">
              <div class="col-lg-12">
                <div class="mb-3">
                  <h4>Danh muc san pham</h4>
                  <ul class="list-unstyled fruite-categorie">
                    <li>
                      <div class="d-flex justify-content-between fruite-name">
                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Macbooks</a>
                        <span>(3)</span>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between fruite-name">
                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Dell</a>
                        <span>(5)</span>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between fruite-name">
                        <a href="#"><i class="fas fa-apple-alt me-2"></i>HP</a>
                        <span>(2)</span>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between fruite-name">
                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Lenovo</a>
                        <span>(8)</span>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex justify-content-between fruite-name">
                        <a href="#"><i class="fas fa-apple-alt me-2"></i>Linux</a>
                        <span>(5)</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3">
                  <h4 class="mb-2">Price</h4>
                  <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                  <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3">
                  <h4>Additional</h4>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                    <label for="Categories-1"> Dell</label>
                  </div>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                    <label for="Categories-2"> HP</label>
                  </div>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                    <label for="Categories-3"> Macbook</label>
                  </div>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                    <label for="Categories-4"> Lenovo</label>
                  </div>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                    <label for="Categories-5"> Linux</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <h4 class="mb-3">Featured products</h4>
                <div class="d-flex align-items-center justify-content-start">
                  <div class="rounded me-4" style="width: 100px; height: 100px;">
                    <img src="https://www.homepaylater.vn/static/bc85437ab7c1530a6ea1e1b7db1a4da6/d3d77/01_laptop_gaming_la_gi_3efc0f9424.jpg" class="img-fluid rounded" alt="">
                  </div>
                  <div>
                    <h6 class="mb-2">Laptop gaming</h6>
                    <div class="d-flex mb-2">
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="d-flex mb-2">
                      <h5 class="fw-bold me-2">2.99 $</h5>
                      <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                    </div>
                  </div>
                </div>
                  <div class="d-flex align-items-center justify-content-start">
                      <div class="rounded me-4" style="width: 100px; height: 100px;">
                          <img src="https://www.homepaylater.vn/static/bc85437ab7c1530a6ea1e1b7db1a4da6/d3d77/01_laptop_gaming_la_gi_3efc0f9424.jpg" class="img-fluid rounded" alt="">
                      </div>
                      <div>
                          <h6 class="mb-2">Laptop gaming</h6>
                          <div class="d-flex mb-2">
                              <i class="fa fa-star text-secondary"></i>
                              <i class="fa fa-star text-secondary"></i>
                              <i class="fa fa-star text-secondary"></i>
                              <i class="fa fa-star text-secondary"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <div class="d-flex mb-2">
                              <h5 class="fw-bold me-2">2.99 $</h5>
                              <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-start">
                      <div class="rounded me-4" style="width: 100px; height: 100px;">
                          <img src="https://www.homepaylater.vn/static/bc85437ab7c1530a6ea1e1b7db1a4da6/d3d77/01_laptop_gaming_la_gi_3efc0f9424.jpg" class="img-fluid rounded" alt="">
                      </div>
                      <div>
                          <h6 class="mb-2">Laptop gaming</h6>
                          <div class="d-flex mb-2">
                              <i class="fa fa-star text-secondary"></i>
                              <i class="fa fa-star text-secondary"></i>
                              <i class="fa fa-star text-secondary"></i>
                              <i class="fa fa-star text-secondary"></i>
                              <i class="fa fa-star"></i>
                          </div>
                          <div class="d-flex mb-2">
                              <h5 class="fw-bold me-2">2.99 $</h5>
                              <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                          </div>
                      </div>
                  </div>
                <div class="d-flex justify-content-center my-4">
                  <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="position-relative">
                  <img src="https://www.acervietnam.com.vn/wp-content/uploads/2021/03/Chien-Binh-Da-Phong-Cach-Aspire-7-2023-Laptop-Gaming-Pho-Thong-CPU-Chip-H.png" class="img-fluid w-100 rounded" alt="">
                  <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row g-4 justify-content-center">
              <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="rounded position-relative fruite-item">
                  <div class="fruite-img">
                    <img src="https://cafefcdn.com/203337114487263232/2022/3/17/-16474770890061439971826.jpg" class="img-fluid w-100 rounded-top" alt="">
                  </div>
                  <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Laptop</div>
                  <div class="p-4  border-none rounded-bottom">
                    <h5 class="text-info">Lenovo gaming S24</h5>
                    <p>Hiện nay, nhu cầu chơi game giải trí sau những giờ học, giờ làm căng thẳng ngày càng tăng cao.</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                      <p class="text-dark fw-bold mb-0 mx-auto">20,000,000 VND</p>
                      <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary mx-auto mt-1"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                            <img src="https://cafefcdn.com/203337114487263232/2022/3/17/-16474770890061439971826.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                        <div class="p-4  border-none rounded-bottom">
                            <h5 class="text-info">Lenovo gaming S24</h5>
                            <p>Hiện nay, nhu cầu chơi game giải trí sau những giờ học, giờ làm căng thẳng ngày càng tăng cao.</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fw-bold mb-0 mx-auto">20,000,000 VND</p>
                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary mx-auto mt-1"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                            <img src="https://cafefcdn.com/203337114487263232/2022/3/17/-16474770890061439971826.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                        <div class="p-4  border-none rounded-bottom">
                            <h5 class="text-info">Lenovo gaming S24</h5>
                            <p>Hiện nay, nhu cầu chơi game giải trí sau những giờ học, giờ làm căng thẳng ngày càng tăng cao.</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fw-bold mb-0 mx-auto">20,000,000 VND</p>
                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary mx-auto mt-1"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                            <img src="https://cafefcdn.com/203337114487263232/2022/3/17/-16474770890061439971826.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                        <div class="p-4  border-none rounded-bottom">
                            <h5 class="text-info">Lenovo gaming S24</h5>
                            <p>Hiện nay, nhu cầu chơi game giải trí sau những giờ học, giờ làm căng thẳng ngày càng tăng cao.</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fw-bold mb-0 mx-auto">20,000,000 VND</p>
                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary mx-auto mt-1"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                            <img src="https://cafefcdn.com/203337114487263232/2022/3/17/-16474770890061439971826.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                        <div class="p-4  border-none rounded-bottom">
                            <h5 class="text-info">Lenovo gaming S24</h5>
                            <p>Hiện nay, nhu cầu chơi game giải trí sau những giờ học, giờ làm căng thẳng ngày càng tăng cao.</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fw-bold mb-0 mx-auto">20,000,000 VND</p>
                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary mx-auto mt-1"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                            <img src="https://cafefcdn.com/203337114487263232/2022/3/17/-16474770890061439971826.jpg" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                        <div class="p-4  border-none rounded-bottom">
                            <h5 class="text-info">Lenovo gaming S24</h5>
                            <p>Hiện nay, nhu cầu chơi game giải trí sau những giờ học, giờ làm căng thẳng ngày càng tăng cao.</p>
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fw-bold mb-0 mx-auto">20,000,000 VND</p>
                                <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary mx-auto mt-1"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>

              <div class="col-12">
                <div class="pagination d-flex justify-content-center mt-5">
                  <a href="#" class="rounded">&laquo;</a>
                  <a href="#" class="active rounded">1</a>
                  <a href="#" class="rounded">2</a>
                  <a href="#" class="rounded">3</a>
                  <a href="#" class="rounded">4</a>
                  <a href="#" class="rounded">5</a>
                  <a href="#" class="rounded">6</a>
                  <a href="#" class="rounded">&raquo;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fruits Shop End-->


<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">LaptopShop</h1>
                        <p class="text-secondary mb-0">Very good</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.google.com/"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://www.youtube.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Why People Like us!</h4>
                    <p class="mb-4 text-primary">Thanh lap nam 2000 . Voi 24 nam dong hanh cung khach hang ,chung toi cam ket mang toi nhung san pham chat luong tot nhat tren thi truong</p>
                    <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Shop Info</h4>
                    <a class="btn-link" href="">About Us</a>
                    <a class="btn-link" href="">Contact Us</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Account</h4>
                    <a class="btn-link" href="">My Account</a>
                    <a class="btn-link" href="">Shop details</a>
                    <a class="btn-link" href="">Shopping Cart</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Contact with shop</h4>
                    <p>Address: Xa yen luong ,Huyen y yen,Tinh Nam Dinh</p>
                    <p>Email: tranmanh2003tvt@gmail.com</p>
                    <p>Phone: 0972685515</p>
                    <p>FangePage: TranManh</p>
                    <img src="../ClientStyle/img/payment.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Tran Xuan Manh</a> 20-01-2003</span>
            </div>
            <div class="col-md-6 my-auto text-center text-md-end text-white">

                Design by <a class="border-bottom" href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"> Boostrap 5</a> Code by Tran Xuan Manh
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->



<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{../ClientStyle/lib/easing/easing.min.js}"></script>
<script th:src="@{../ClientStyle/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{../ClientStyle/lib/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{../ClientStyle/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{../ClientStyle/js/main.js}"></script>
</body>

</html>